div.pokemon_card_body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

div.pokemon_with_stats{
    width: 80%;
}


div.individual_pokemon_row{
    display: table;
    width: 100%; 
    table-layout: fixed; 
}

div.pokemon_col{
    text-align: center;
    display: table-cell; 
    font-size: large;
    vertical-align: middle;
}

i.pokemon_arrow{
    font-size: 100px;
    color: black;
}

div.progress{
    width:100%;
}

div.pokemon_profile{
    display: flex;
    flex-wrap: wrap;
    width:70%;
    justify-content: center;
    margin-left: auto ;
    margin-right: auto ;    
    font-size: large;
}

div.pokemon_profile_right{
    width:50%;
}
div.pokemon_profile_left{
    width:50%;
}

div.profile_input{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

div.profile_name{
    width:100px;
}

div.profile_value{
    margin-left: 25px;
    width:300px;
}

div.pokemon_card_footer{
    font-size: 18px;
    text-align: center;
    height:50px;
}

a.poke_card_link{
    margin-left: 10px;
}
