 div.single_card_1{
    padding:0 20px 20px;
    width:300px
  }

  div.list_pokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto; 
  }

  div.pokemon__search__button{
    height: 38.5px;
    border: 1px solid #0D1217;
    border-right: none;
    width:38.5px;
    color:white;
    background-color: #0D1217;
  }

  div.pokemon__search__button:hover{
    color:#0D1217;
    background-color: rgb(107, 105, 105);
  }

  span#search__icon{
    display:block;
    float:left;
    margin:7px 12.75px 0 12.75px;
  }

  div.pokemon_search{
      height:38.5px;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      width:100%;
      margin-top:15px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
     
  }

  #wrapper {
    min-height:100%;
   }
  
  input.poke__search__input{
    color:#0D1217;
    border: 1px solid #0D1217;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height:38.5px;
  }
  
  .no__results{
    width: 100%;
    height:100%;
  }
  
  h5.no__results__text{
    text-align: center;
    color: red;
    font-size: 20px;
  }
  
  .content{
    padding-top:50px;
    min-height:90vh;
  }
