 div.single_card_1{
    padding:0 20px 20px;
    width:300px
  }

  div.list_pokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto; 
  }

  span#search__icon{
    margin-right: 15px;
    margin-top:7px;
  }

  div.pokemon_search{
      display: flex;
      flex-wrap: wrap;
      width:400px;
      margin-top:15px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
  }

  #wrapper {
    min-height:100%;
   }
  
  .form-control{
    color:black;
  }
  
  .no__results{
    width: 100%;
    height:100%;
  }
  
  h5.no__results__text{
    text-align: center;
    color: red;
    font-size: 20px;
  }
  
  .content{
    padding-top:50px;
    min-height:90vh;
  }
  
   .footer-seperator{
     position:relative;
     background-color: yellow;
     /* width:100%; */
   
  } 