div.pokemon-data{
    min-width: 635px;
}

div.pokemon_card_body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

div.pokemon_with_stats{
    width: 80%;
}

div.individual_pokemon_row{
    display: table;
    width: 100%; 
    table-layout: fixed; 
}

div.pokemon_col{
    text-align: center;
    display: table-cell; 
    font-size: large;
    vertical-align: middle;
}

div.pokemon_profile.row{
    line-height: 12px;
}

i.pokemon_arrow{
    font-size: 100px;
    color: black;
}

div.poke_index{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

div.pokemon__info{
    padding-left: 135px;
}

button.next_pokemon{
    margin-left: 10px;
}

div.pokemon_pill{
    margin-top: 25px;
   
}

div.progress-bar{
    border-radius: 100px;
}

div#stat__progress{
  background-color: rgb(187, 184, 184);
}

div.progress{
    width:100%;
  
    border-radius: 100px;
}

div.poke_profile_title{
    width: 70%;
    text-decoration: underline;
    text-align: center;
}

div.poke_evolution_title{
    font-size: 25px;
    text-decoration: underline;
}

div.progress-bar{
    text-align: center;
    font-size: 15px;
}

div.pokemon_profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;    
    font-size: large;
}

div.pokemon_profile_right{
    width: 35%;
}

div.pokemon__loading{
    min-height: 70vh;
    background: #f1f1f1;
}

div.poke_right_content{
    width:100%;
    margin-left: auto ;
    margin-right: auto ; 
}

div.pokemon_profile_left{
    width: 65%;
}

div.poke_left_content{
    width:90%;
    margin-left: 25px;
    margin-right: auto ; 
     
}

div.poke_left_content{
    margin-left: auto;
    width:70%;
}

div.profile_input{
    display: flex;

    margin-bottom: 15px;
}

div.profile_name{
    height:12px;
    width: 150px;
}

div.profile_value{
    width:300px;

}

div.pokemon_card_footer{
    font-size: 18px;
    text-align: center;
    height:50px;
}

a.poke_card_link{
    margin-left: 10px;
}

button#toggle__pokemon__btn{
    color:white;
    width: 100px;
}

p.pokemon__description{
    width: 80%;
    margin-top: 10px;
}

div.gender-progress{
    display: flex;
    text-align: center;
    font-size: 15px;
}

div.prev__next__poke, div.pokemon_pill{
    margin-top: 10px;
}

span.badge.badge-pill{
    text-shadow: 0.5px 0.5px black;
    min-height: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
}

img.card-img-top{
    height:250px;
    width:250px;
    margin-left: auto;
    margin-right: auto;
}

div.genderRatioBar{
    line-height: 20px;
    padding-right: 0;
    
}

@media only screen and (max-width: 768px) {
    div.pokemon-data{
        min-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    h5#poke{
        margin-left: -16px; 
    }

    div.pokemon__info{
       padding-left: 35px;
    }

    div.poke_evolution_title{
        font-size: 15px;
    }

    div.pokemon_col{
        font-size: 12px; 
    }

    i.pokemon_arrow{
        font-size: 50px;
        color: black;
    }

    div.pokemon_card_footer{
        font-size: 15px;
    }

    img.evolution__img{
        width:75px;
        height: 75px;
    }

    span.badge.badge-pill{
        font-size: 15px;
        letter-spacing: 1px;
    }

    div.pokemon_profile_left, div.pokemon_profile_right{
        width: 100%;
    }


    div.poke_left_content{
        margin-left: auto;
        margin-right: 10px;
        width: 87%;
        margin-top: 10px;
    }

    div.profile_value.col-6{
        padding-left: 0;
    }

  

    div.poke_right_content{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 10px;
    }

    div.gender-progress{
        font-size: 12px;
    }

}
