div.pokemon-data{
    min-width: 635px;
}

div.pokemon_card_body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

div.pokemon_with_stats{
    width: 80%;
}


div.individual_pokemon_row{
    display: table;
    width: 100%; 
    table-layout: fixed; 
}

div.pokemon_col{
    text-align: center;
    display: table-cell; 
    font-size: large;
    vertical-align: middle;
}

i.pokemon_arrow{
    font-size: 100px;
    color: black;
}

div.poke_index{
    font-size: 18px;
    font-weight: bold;
}

div.pokemon_info{
    margin-left: 135px;
}

button.previous_pokemon{
    color:white;
}

button.next_pokemon{
    color:white;
    margin-left: 10px;
}

div.pokemon_pill{
    margin-top: 25px;
}

div.progress{
    width:100%;
}

div.poke_profile_title{
    width: 70%;
    text-decoration: underline;
}

div.poke_evolution_title{
    font-size: 25px;
    text-decoration: underline;
}

div.pokemon_profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;    
    font-size: large;
}

div.pokemon_profile_right{
    width:50%;
}

div.pokemon_profile_left{
    width:50%;
}

div.poke_left_content{
    margin-left: auto;
    width:70%;
}

div.profile_input{
    display: flex;
}

div.profile_name{
    height:12px;
    width: 150px;
   
}

div.profile_value{
    width:250px;

}

div.pokemon_card_footer{
    font-size: 18px;
    text-align: center;
    height:50px;
}

a.poke_card_link{
    margin-left: 10px;
}
