rect {
    max-width: 1800px;
    max-height: 100vh;
}

div.covid19__world{
    font-size:16px;
    margin-bottom: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

div.covidCard{
    color: white;
    margin: 10px;
    width: 250px;
    box-shadow: 0px 7px 10px rgba(139, 139, 139, 0.712);
}

h4.covid__number{
    color: white;
    text-shadow: 0.25px 0.25px black;
    font-weight: normal;
}
div.card-body{
    margin: 0px;
    width: 250px;
}

h3#covidCardTitle{
    text-shadow: 0.25px 0.25px black;
    text-align: center;
}

ul.unordered__global{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

span#global__covid__label{
    font-weight: bold;
}

div.covid19{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 

div.covid__table, div.world__cases{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.covid19Canada{
    width: 100%;
}

button.nextMap__button{
    color:white;
    width:250px;
    border-radius: 100px;
    margin-left: 25px;
    
}

button.nextMap__button:hover{
    box-shadow: 0px 5px 5px black;
}

select.region__selection{
    width: 25%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 20px;
}

div.severity__chart{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

div.severity__level{
    margin:auto;
    height: 25px; 
    max-width: calc(100% / 7);
    border: 1px solid black;
    border-radius: 100px;
}

div.covidTable{
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0px 7px 15px;
    overflow: auto;
}

tr.countryCase__Head{
    text-align: center;
}

tr.countryCase td.covid__td{
    border:0.5px solid black;
    font-size: 18px;
    height:31px;
}

td#country__data{
    width: 15%;
}

td#country__name {
    width: 20%;
}

td#country__name:hover {
    background-color: rgba(128, 128, 128, 0.411);
}

td#country__number{
    width: 5%;
}

th.covid__th  {  
    border:1px solid black;
    border-bottom: none;
    font-size: 14px;
    text-align: center;
}

div.CovidLoading{
    width:480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

div.covid__chart{
    box-shadow: 0px 0px 40px ;
    margin-bottom: 40px;
}

img.washHands{
    width:100%;
}

@media only screen and (max-width: 768px) {

    select.region__selection{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    div.covid19__world{
        font-size:12px;
        margin-bottom: 10px;
    }
    div.severity__chart{
     font-size: 12px;   
    }

    div.severity__level{
        max-width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    ul.unordered__global{
        font-size: 12px;   
    }
    button.nextMap__button{
        font-size: 12px;
        margin-left: 50px;
        align-self: center;
    }

    div.CovidLoading{
        width:90%;
        margin-top: 25px;
    }

    tr.countryCase td.covid__td {
        font-size: 12px;
        width: 15%;
    }
    
    th.covid__th  {  
        width: 15%;
        font-size: 11px;
    }    
}