.Spotify {
  text-align: center;
}

div.spotify__content{
  width: 100%;
  margin-left: 0.75px;
}

div.artist__search__section{
  margin-bottom: 15px;
  margin-top: 15px;
}

/* media query for mobile!!!  */
div.search__artist{
  display: flex;
  border-radius: 100px;
  border: 1px solid black;
  width: 229px;
  margin:auto;
  background-color: white;
  height:42px;
}

input.search__input:focus{
  outline:none;
}
div.spotify__input__section{
  border-radius: 100px;
  width:70%;
}

button.select__suggestion{
  color:white;
  height:20px;
  width: 100%;
}

select.search__select{
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-style: none;
  /* transform: translateY(-40px); */
}

button.search_button.undefined, button.search_button.artist_search_success , button.search_button.artist_search_error {
  height: 40px;
  width: 70.11px;
}

input.search__input{
  border-radius: 100px;
  height:100%;
  border-style: none;
  color:black;
  text-align: center;
  width: 150px;
  margin : 0 ;
  font-size: 14px;
}

div.artist__suggestion{
  width:160px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

ul.select-list-group__list { 
  list-style : none;
  padding : 0; 
  background-color:white;
  width: 185px;
 
  border: 1px black solid;
  position: absolute;
}

li.select-list-group__list-item{
  position: relative;
 
}

li.select-list-group__list-item { 
  color : black; 
  font-weight: bold;
  border: 1px black solid;
  background-color : white 
}

li#list__item__active{ 
  background-color : rgb(139, 135, 135) 
}

button.search_button{
  border-radius: 100px;
  color: white;
  width:30%;
}

#artist_search_success{
  border: 1px solid #5cb85c;
}

#artist_search_error{
  border: 1px solid #d9534f;
}

button.search_button.artist_search_success{
  background-color: #5cb85c;
}

button.search_button.artist_search_error{
  background-color: #d9534f;
}

div.invalid__search{
  color: #d9534f;
  margin-top: 15px;
}

img.artist__profile__img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 15px;
}

div.artist__tracks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  max-width: 1359px;
  margin-left: auto;
  margin-right: auto;
}

div.album__track{
  width: 320px;
  background-color: #191414;
  margin: 10px;
}

div.track__image__icon{
  height:100%;
}

img.track__image{
  width:100%;
  height:320px;
}

select#select__artist{
  color:black;
}

div.track__icon {
  color: white;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 15px;
  opacity: 0.8;
  margin: auto;
  transform: translateY(-180px);
}

div.track__text{
  transform: translateY(-80px);
}

.track__icon:hover {
  color: black;
  background-color: lightgrey;
}

.external__links{
  display: inline-flex;
  align-self: center;
  margin-bottom:5px;

}

i.fab.fa-youtube{
  color:#ff0000;
  margin-right: 10px;
}

.track__youtube:hover {
  color: #F0735F;
  text-decoration: none;
}

i.fab.fa-spotify{
  color:#1DB954;
}

.track__spotify:hover {
  color: #8DED38;
  text-decoration: none;
}

h5.track__title{
  color: white;
}

div.initial__spotify__messages{
 
  font-size: 18px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  
  div.initial__spotify__messages{
    width: 90%;
    padding-left: 35px;
    font-size: 15px;
  }
}