.choice:hover {
    cursor: pointer;
    background: #24272E;
}

div.connectFourBoard{
    background: #0074B3;
    box-shadow: 5px 10px rgba(25, 60, 78, 0.74) ;
    width: 700px;
    height: 625px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

div#game-board {
    cursor: pointer;
}

div#game-board-disabled {
    cursor: not-allowed;
}

svg#connectFourSVG{
    width:100px;
    height: 100px;
}

.column {
    width: 14.2857142857%;
    height: 14.2857142857%;
	display: inline-block;
}

.column:hover circle.free-disabled{
    fill: rgba(235, 84, 84, 0.712);
    cursor: not-allowed;
}

.column:hover circle.free{
	fill: rgba(112, 250, 20, 0.555);
}

circle.free, circle.free-disabled {
    fill: white;
}

circle.game_over {
	fill: rgb(8, 8, 8);
}

circle.red {
	fill: red;
}

circle.yellow {
	fill: #ffff00
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait)
 {
    div.connectFourBoard{
       
        width: 100%;
        height: 250px;
     
    }
    
    svg#connectFourSVG{
        width:38px;
        height: 38px;
    }

 }